@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap');

html {
  background-color: #1f2b3b !important;
  color: #fff !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #1f2b3b !important;
  color: #fff !important;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #fff;
}

.icon:hover {
  transform: scale(1.5);
  color: #ff8a00;
}